@use 'base/variables' as v;

footer {
    color: v.$blanco;
    display: flex;
    background-color: v.$negro;
    justify-content: space-between;
    
    a {
        color: v.$blanco;
    }
}
.contenedor__footer {
    
}