@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {
    display: flex;
    justify-content: space-between;
    background-color: v.$blanco;
    padding: 1rem;
    border-bottom: 2px solid v.$verdeOscuro;
    box-shadow: inset 0px -8px 8px rgba(100, 100, 100, 0.2);
    :last-child {
        align-items: center;
    }


    h1 {
        font-size: 2.5rem;
        color: v.$azul;
    }
    .navegacion {
        font-size: 1rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        a {
            margin: 0 .8rem 0 0;
            color: black;
            padding: 2rem;
            border-radius: 5%;
            &:hover {
                box-shadow: inset -2px -2px 10px 10px rgba(0, 178, 137, 0.7);
            }
        }
        :last-child {
            margin: 0;
        }
    }
    .logotipo {
        display: flex;
        align-items: flex-end;
        padding: 2rem;
        h2 {
            font-size: 1.5rem;
        }
        
        
    }
}
@include m.tablet {
    .header {
        h1 {
            font-size: 3rem;
        }
        .navegacion {
            font-size: 1.5rem;
        }
        .logotipo {
            h2 {
                font-size: 2rem;
            }
        }
    }
}
@include m.desktop {
    .header {
        h1 {
            font-size: 4.5rem;
        }
        .navegacion {
            font-size: 2rem;
        }
        .logotipo {
            h2 {
                font-size: 3.5rem;
            }
        }
    }
}
@include m.desktopXL {
    .header {
        h1 {
            font-size: 5.5rem;
        }
        .navegacion {
            font-size: 2rem;
        }
        .logotipo {
            h2 {
                font-size: 4rem;
            }
        }
        
    }
}