@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {
    text-align: center;
    display: block;
    background-color: v.$blanco;
    padding: 1rem;
    border-bottom: 2px solid v.$verdeOscuro;
    box-shadow: inset 0px -8px 8px rgba(100, 100, 100, 0.2);

    :first-child {
        justify-content: center;
    }

    :last-child {
        align-items: center;
    }


    h1 {
        font-size: 2.5rem;
        color: v.$azul;
        margin: 0.5rem;
    }

    .navegacion {
        font-size: 1rem;
        display: flex;
        text-align: center;
        justify-content: space-evenly;

        a {
                padding: 1rem 1.5rem 1rem 1.5rem;

            border-radius: 5%;

            &:hover {
                box-shadow: inset -2px -2px 2px 2px rgba(0, 178, 137, 0.7);
            }
        }

    }

    .logotipo {
        display: flex;
        align-items: flex-end;
        padding: 0rem;

        h2 {
            font-size: 1.5rem;
        }
    }
}

@include m.tablet {

    .header {
        padding: 2rem;
        div {
            display: grid;
            grid-template-columns: 1fr 3fr;
            margin-bottom: 4rem;

            :first-child {
                justify-content: start;
                margin: 0;
            }
        }

        h1 {
            font-size: 5rem;
        }

        .navegacion {
            font-size: 1.5rem;
            a {
                padding: 2rem 6rem 2rem 6rem;
            }

        }

        .logotipo {
            h2 {
                font-size: 3.5rem;
            }

            div {
                padding: 0 0;
            }
        }


    }
}



@include m.desktop {
    

        h1 {
            font-size: 6rem;
        }

        .navegacion {
            font-size: 1.7rem;

            a {
                padding: 2rem 6rem 2rem 6rem;
            }
        }

        .logotipo {
            h2 {
                font-size: 3.5rem;
            }
        }
    }
