sidebar {
    display: inline;
    height: 80rem;
    background-color: black;
    color: white;
    a {
        font-size: 2rem;
        color: white;
    }
}
.entrada__sidebar {
    border-bottom: 1px solid white;
    padding: 1rem;
    margin: 0 0;
    text-align: center;

    p {
        margin: 0 0;
    }
}

